# Tuple datatype representation

---> Multiple data elements can store with in the ( )

In [2]:
# empty tuple
var = ()
print("var = ",var)
print("id = ",id(var))
print(type(var))

var =  ()
id =  31502237768
<class 'tuple'>

In [3]:
# tuple is hetro data type

var = (12,34.67,True ,3+5j)
print("var = ",var)
print("id = ",id(var))
print(type(var))

var =  (12, 34.67, True, (3+5j))
id =  31571528744
<class 'tuple'>

In [4]:
# homo tuple datatype
var = (True ,False,False )
print("var = ",var)
print("id = ",id(var))
print(type(var))

var =  (True, False, False)
id =  31588908704
<class 'tuple'>

In [5]:
# nested tuple 
var = ("soc",[1,2,3,],(1,2,3))
print("var = ",var)
print("id = ",id(var))
print(type(var))

var =  ('soc', [1, 2, 3], (1, 2, 3))
id =  31588908992
<class 'tuple'>

# Access the data from tuple

In [8]:
# positive indexinging and Negative indexing 
var = (12,45,23,78,12,89,45,67,2,4,3)
print(var[0])  # 12
print(var[-11]) # 12
print(var[3])  # 78
print(var[-8])  #78

12
12
78
78

In [10]:
# tuple slicing   var[start : stop]
var = (12,45,23,78,12,89,45,67,2,4,3)
print(var[1:5])  # (45,23,78,12)
print(var[:5]) #(12,45,23,78,12)   # start ----> 0
print(var[5:])#(89,45,67,2,4,3)  # stop ---> len of tuplle

(45, 23, 78, 12)
(12, 45, 23, 78, 12)
(89, 45, 67, 2, 4, 3)

In [11]:
# tuple dicing   # var[start ---> 0:  stop---> len :  step---> 1]
var = (12,45,23,78,12,89,45,67,2,4,3)
print(var[0:11:2]) #(12,23,12,45,2,3)

(12, 23, 12, 45, 2, 3)

In [13]:
# 2D or multi D   indexing 

var = ("soc",(1,2,3),[1,2,3])
print(var[0])  #'soc'
print(var[0][1]) #'o'
print(var[2])# [1,2,3]
print(var[2][0])# 1
print(var[1])
print(var[1][2])

soc
o
[1, 2, 3]
1
(1, 2, 3)
3

In [15]:
# tuple is immutable datatype
var =(1,2,3,4)
var[2]=12

TypeError: 'tuple' object does not support item assignment

In [16]:
var = (12,45,23,78,12,89,45,67,2,4,3)
print(len(var))
print(max(var))
print(min(var))
print(sum(var))

11
89
2
380

In [21]:
var = (12,45,23,78,12,89,45,67,2,4,3)
print(var.count(12))
print(var.index(78))
#print(var.reverse())

2
3

In [22]:
var = (12,45,23,78,12,89,45,67,2,4,3)
print(type(var))
var =list(var)
print(type(var))
print(var)
var.sort()
print(var)
var.reverse()
print(var)

print(type(var))
var =tuple(var)
print(type(var))
print(var)
# sorting 
# sort  // reverse

<class 'tuple'>
<class 'list'>
[12, 45, 23, 78, 12, 89, 45, 67, 2, 4, 3]
[2, 3, 4, 12, 12, 23, 45, 45, 67, 78, 89]
[89, 78, 67, 45, 45, 23, 12, 12, 4, 3, 2]
<class 'list'>
<class 'tuple'>
(89, 78, 67, 45, 45, 23, 12, 12, 4, 3, 2)

In [ ]:
# set / dict