In [1]:
import sqlite3 as sql

In [ ]:
sqlite3 :-
    ----
    1. connect ---> to connect any database / create a database
    2. cursor ----> to handle the database
    3. execute ---> to run all sql quaries 
    4. fetchall ---> statatus of execute 
    5. close ----> close the database

In [6]:
# creating multiple tables in new database or old database

import sqlite3 as sql
database = input("enter database to conncet : ")
db_con = sql.connect(database)
cur = db_con.cursor()
n = int(input("enter n of tables to create : "))
for i in range(n):
    tab = input("enter table : ")
    cur.execute("Create table "+tab+"(s_no,name)")
db_con.close()

enter database to conncet : new.db
enter n of tables to create : 3
enter table : std
enter table : std2
enter table : std3

In [7]:
# create the conncetion and cursor 
import sqlite3 as sql 

# to create a database / open a database

def connct_database(database_name):
    con = sql.connect(database_name)
    cur = con.cursor()
    return cur

In [8]:
# create a 2 database college, family
N = int(input("enter no of databases to conncet : "))
data_base =[]
for i in range(2):
    database = input("enter database name ")
    data_base.append(connct_database(database))

enter no of databases to conncet : 2
enter database name college.db
enter database name family.db

In [9]:
# create tables 
def create_table(cur,table):
    quary = '''create table %s(s_no,name)'''%table
    cur.execute(quary)

In [10]:
# create 2 table with 2 fileds s_n0,name
N = int(input("enter no of table "))
for i  in range(N):
    table = input("enter table name : ")
    create_table( data_base[0],table)

enter no of table 2
enter table name : std
enter table name : management

In [14]:
# inserting the data to table 
def insert_data(cur,table,s_no,name):
    quary ='''insert into %s values(%s,%s)'''%(table,s_no,name)
    cur.execute(quary)

In [15]:
# create 2 table with 2 fileds s_n0,name
N = int(input("enter no of records "))
for i  in range(N):
    table = input("enter table name : ")
    s_no = input("enter s_no : ")
    name = input("enter name : ")
    insert_data(data_base[0],table,s_no,name)

enter no of records 2
enter table name : 'std'
enter s_no : 12
enter name : 'anjan'
enter table name : std
enter s_no : 13
enter name : 'amma'

In [17]:
data_base[0].execute("select * from std")

In [20]:
for record in data_base[0].fetchall():
    print(record)

(12, 'anjan')
(13, 'amma')