# unary Operators

In [1]:
print( +10)
print(-134)
print(not 10)
print(~ 5)

10
-134
False
-6

# binary Operators

In [2]:
print(10 + 40)
print(10 *34)

50
340

# Based on operations

    1. Arithmetic Operators
    2. Assignment Operators
    3. Special Operators
    4. Relational Operators
    5. Logical Operators
    6. Bitwise Operator

# 1. Arithmetic Operators

---> Which operators are used for to do all mathametical and trigonometric and artithmetic Operations 

    1. addition  +
    2. subtraction  -
    3. Multiplication  *
    4. Division     /  ( quotiant)
    5. Modulus   % (reminder)
    6. floor division   //
    7. exponant   **

In [4]:
# wap to understand all arithmetic operators
num1 = int(input("enter num1 : "))
num2 = int(input("enter num2 : "))
print(num1," + ",num2," = ",num1+num2)
print(num1," - ",num2," = ",num1-num2)
print(num1," * ",num2," = ",num1*num2)
print(num1," / ",num2," = ",num1/num2)
print(num1," // ",num2," = ",num1//num2)
print(num1," % ",num2," = ",num1%num2)
print(num1," ** ",num2," = ",num1**num2)

enter num1 : 12
enter num2 : 10
12  +  10  =  22
12  -  10  =  2
12  *  10  =  120
12  /  10  =  1.2
12  //  10  =  1
12  %  10  =  2
12  **  10  =  61917364224

In [5]:
# wap to understand all arithmetic operators
num1 = float(input("enter num1 : "))
num2 = float(input("enter num2 : "))
print(num1," + ",num2," = ",num1+num2)
print(num1," - ",num2," = ",num1-num2)
print(num1," * ",num2," = ",num1*num2)
print(num1," / ",num2," = ",num1/num2)
print(num1," // ",num2," = ",num1//num2)
print(num1," % ",num2," = ",num1%num2)
print(num1," ** ",num2," = ",num1**num2)

enter num1 : 12.0
enter num2 : 10
12.0  +  10.0  =  22.0
12.0  -  10.0  =  2.0
12.0  *  10.0  =  120.0
12.0  /  10.0  =  1.2
12.0  //  10.0  =  1.0
12.0  %  10.0  =  2.0
12.0  **  10.0  =  61917364224.0

In [ ]:
# wap find the area of circle and perimeter
# wap find the area of square and parameter
# wap find the area of rectangle and perimeter
# wap find volume of cube and area
# wap find volume of cylender and perimeter
# wap find the sum of 1st N Natural numbers 
# wap find the sum of sqaures of 1st N Natural numbers 
# wap find the sum of cubes of 1st N natural numbers 
# wap find the simple intrest and total amount 
# wap convert celisus to farahinheat

In [6]:
# wap find the sum of 1st N Natural numbers 
N = int(input("enter N : "))
sum = N * (N+1) /2
print("sum of 1st ",N,' Naturall numbers are : ',sum)

enter N : 10
sum of 1st  10  Naturall numbers are :  55.0

In [7]:
# Assignment Operator
a  =10   # constant to variable 
b = a   # variable to vaiable
c = a+b # expression to variable
a += b    #a = a+b #  a =20   # adddition then assign
print(a ,"while addition")
a -= b   # a = a -b   # a=10  # subtraction then assign
print(a,"while subtraction")
a *= b   # a = a*b  # multiplication then assign
print(a,"while multiplication ")

20 while addition
10 while subtraction
100 while multiplication

In [8]:
# special operators
# membership operator

# in operator
vowel = 'aeiouAEIOU'
char = input("enter any single character ")
print(char ,"is vowel ",char in vowel)
char = input("enter any single character ")
print(char ,"is vowel ",char in vowel)

enter any single character a
a is vowel  True
enter any single character x
x is vowel  False

In [9]:

# in operator
vowel = 'aeiouAEIOU'
char = input("enter any single character ")
print(char ,"is consonant  ",char not in vowel)
char = input("enter any single character ")
print(char ,"is consonant ",char not in vowel)

enter any single character e
e is consonant   False
enter any single character x
x is consonant  True

In [10]:
# Identity operator
a =10
b = 20
c =10
print("id a : ",id(a))
print("id b : ",id(b))
print("id c : ",id(c))
print(a," and ",b," share same memory ", a is b)
print(a," and ",b," both diffeeren memory ", a is not b)
print(a," and ",c," share same memory ", a is c)
print(a," and ",c," both diffeeren memory ", a is not c)

id a :  140733986238496
id b :  140733986238816
id c :  140733986238496
10  and  20  share same memory  False
10  and  20  both diffeeren memory  True
10  and  10  share same memory  True
10  and  10  both diffeeren memory  False

# Relational Operator :

In [1]:
a = int(input("enter a : "))
b = int(input("enter b : "))
print(a," < ",b,"  = ", a < b)
print(a," <= ",b," = ", a <= b)
print(a," > ",b,"  = ", a > b)
print(a," >= ",b," = ", a >= b)
print(a," == ",b," = ", a == b)
print(a," != ",b," = ", a != b)

enter a : 10
enter b : 20
10  <  20   =  True
10  <=  20  =  True
10  >  20   =  False
10  >=  20  =  False
10  ==  20  =  False
10  !=  20  =  True

In [3]:
# Logical AND  ( and )
'''
1st input value is True case then output is 2nd input value

1st input value is False case then output is 1st input value

'''
print( 0 and [])
print(0.0 and ())
print([] and 56)
print(12 and [])  # []
print([1,2] and 89) # 89

0
0.0
[]
[]
89

In [4]:
# Logical OR ( or )
'''
1st input value is True case then output is 1st input value

1st input value is False case then output is 2nd input value

'''
print( 0 or [])
print(0.0 or ())
print([] or 56)
print(12 or[])  # []
print([1,2] or 89) # 89

[]
()
56
12
[1, 2]

In [5]:
# Logical NOT  ( not )
print(not 34)
print(not ())

False
True

In [8]:
year  = int(input("enter year "))
res = (year %4 == 0) and ((year %400 ==0)  or (year %100 != 0))
print(year ," is leap year ", res)

enter year 2100
2100  is leap year  False

In [9]:
# bitwise operator

10 & 5

0

In [10]:
15 & 5

5

In [11]:
7 & 10

2

In [12]:
10  |  5

15

In [13]:
10 ^ 5

15

In [14]:
15 ^ 7

8

In [15]:
~ 15

-16