In [1]:
#empty tuple
var  = ()
print(var)
print(type(var))
print(id(var))
print(var.__sizeof__())

()
<class 'tuple'>
419925786696
24

In [2]:
# tuple int
var  = (12,34,56,19)
print(var)
print(type(var))
print(id(var))
print(var.__sizeof__())

(12, 34, 56, 19)
<class 'tuple'>
420012343192
56

In [3]:
# hetro genious datatype

var  = (12 ,  34.456, 34+56j ,True ,None)
print(var)
print(type(var))
print(id(var))
print(var.__sizeof__())

(12, 34.456, (34+56j), True, None)
<class 'tuple'>
420012305400
64

In [4]:
#Nested tuple
var  = ([12,34],(23,78),{23,45})
print(var)
print(type(var))
print(id(var))
print(var.__sizeof__())

([12, 34], (23, 78), {45, 23})
<class 'tuple'>
420012458344
48

In [5]:
var =(12,67,34,90,23)
print(var)
print(len(var))
print(max(var))
print(min(var))
print(sum(var))
# positive indexing 
print(var[0]) # 12 ---> 0 index is 12
print(var[1]) # 67 ---> 1 index is 67
print(var[2]) # 34 ---> 2 index is 34
print(var[-1])# 23 ---> -1 index is last elememnt is 23
print(var[-2])# 90 ---> -2 index is 2nd last ele is 90

(12, 67, 34, 90, 23)
5
90
12
226
12
67
34
23
90

In [6]:
# tuple slcing 
var

(12, 67, 34, 90, 23)

In [7]:
var[1:4]

(67, 34, 90)

In [8]:
var[:4] # start ---> 0

(12, 67, 34, 90)

In [9]:
var[1:] # stop ---> len

(67, 34, 90, 23)

In [10]:
var

(12, 67, 34, 90, 23)

In [12]:
var[0:4:2]

(12, 34)

In [21]:
a = (12,89,45,90,34,23,89,34,90,2,33)

In [22]:
a[2:10:3]

(45, 23, 90)

In [23]:
# tuple is immutable datatypr
a[1] = 890

TypeError: 'tuple' object does not support item assignment

In [ ]:
# tuple is immutable datatype
# list is mutable datatype

In [24]:
v =([12,45,90],(12,45))
len(v)

2

In [29]:
v[1][0] =2

TypeError: 'tuple' object does not support item assignment

In [30]:
v[0][1] =4

In [31]:
v

([12, 4, 90], (12, 45))

In [32]:
var = "fldnffnfjk[1,23,34]"

In [34]:
var[13]

'2'

In [33]:
var[12]

','

In [38]:
var= (1,2,3)

In [39]:
var*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [40]:
a =(1,2,3)
b =(4,5,6)
a+b

(1, 2, 3, 4, 5, 6)

In [41]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [45]:
var=(12,45,12,56,45,45)
var.count(45)

3

In [49]:
var.index(45,5)

5

In [47]:
help(tuple.index)

Help on method_descriptor:

index(self, value, start=0, stop=9223372036854775807, /)
    Return first index of value.

    Raises ValueError if the value is not present.

In [52]:
print(var)
var = list(var)
print(var)
var.insert(3,100)
print(var)
var =tuple(var)
print(var)

(12, 45, 12, 56, 45, 45, 3)
[12, 45, 12, 56, 45, 45, 3]
[12, 45, 12, 100, 56, 45, 45, 3]
(12, 45, 12, 100, 56, 45, 45, 3)